<template>
  <div class="home">
    <Header />   
    <CarroucelHeader />
    <Newsletter />
    <Carroucel title="Mais Vendidos" SlidePerView="4" SpaceBetween="30" />
    <Destaques />
    <Carroucel title="Mais Vendidos" SlidePerView="3" SpaceBetween="30"/>
    <Rodape />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/header.vue";
import CarroucelHeader from "@/components/carroucel-header.vue";
import Newsletter from "@/components/newsletter.vue";
import Carroucel from "@/components/carroucel.vue";
import Destaques from "@/components/destaque.vue";
import Rodape from "@/components/rodape.vue";

export default {
  name: "Home",
  title: 'Home',
  components: {
    Header,
    Newsletter,
    CarroucelHeader,
    Carroucel,
    Destaques,
    Rodape
  }
};
</script>
