<template>
  
    <div class="container mb-4 p-0">

        <div class="row">

            <div class="col-lg-8 col-xl-8 col-sm-12">                       
                
                    <b-carousel
                    id="carousel-1"                
                    :interval="4000"
                    controls
                    indicators
                    background="#ababab"
                    img-width="1024"
                    img-height="470"
                    height="670"
                    style="text-shadow: 1px 1px 2px #333;"
                
                    >
                    
                    <b-carousel-slide>
                        <template #img>
                        <img
                            class="d-block img-fluid w-100"
                            width="1024"
                            height="452"
                            src="https://eloamodas.com.br/wp-content/uploads/2014/03/banner-colecao-primavera-verao-1.jpg"
                            alt="image slot"
                        >
                        </template>
                    </b-carousel-slide>

                    <b-carousel-slide>
                        <template #img>
                        <img
                            class="d-block img-fluid w-100"
                            width="1024"
                            height="452"
                            src="https://eloamodas.com.br/wp-content/uploads/2014/03/banner-colecao-primavera-verao-1.jpg"
                            alt="image slot"
                        >                        
                        </template>
                        <h1>Hello world!</h1>
                    </b-carousel-slide>

                    <b-carousel-slide>
                        <template #img>
                        <img
                            class="d-block img-fluid w-100"
                            width="1024"
                            height="452"
                            src="https://eloamodas.com.br/wp-content/uploads/2018/04/banner-colecao-atual-rose-dreams.jpg"
                            alt="image slot"
                        >
                        </template>
                    </b-carousel-slide>
                    
                </b-carousel>    
                
            </div>

            <div class="col-lg-4 col-xl-4 col-sm-12" >

                <img src="img/banner.jpg" height="452" />

            </div>

        </div>

    </div>

</template>

<script>

export default {
    name: 'CarroucelHeader',
    props: {
        msg: String
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .carousel-item img {
        height: 452px !important ;
    }
    .cover{
       -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
