<template>

  <div class="container bg-white">

      <div class="row">

        <div class="col-lg-12 col-xl-12 col-sm-12 text-center pt-3">
          <p class="titulo-carroucel">{{ title }}</p>
        </div>

        <div class="col-lg-12 col-xl-12 col-sm-12 mt-0 mb-1 p-0">

            <swiper ref="mySwiper" :options="swiperOptions">

              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="1" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="3" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="5" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="5" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="5" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="5"/>
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="3" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="5" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="4" />
              </swiper-slide>
              <swiper-slide>
                <Produto imagem="https://images.tcdn.com.br/img/img_prod/575346/180_tenis_adidas_nmd_preto_847_1_20190207094943.png"  porcentagemDesconto="10" titulo="Moleton RGX Deminino Joquenpo Preta" preco="R$ 5.800.00" precoDesconto="R$3.200,00" rating="1" />
              </swiper-slide>
              
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
              <div class="swiper-pagination" slot="pagination"></div>

            </swiper>
            
        </div>

      </div>

    </div>

</template>

<script>

import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
// import style (<= Swiper 5.x)
import 'swiper/css/swiper.css'

import Produto from './produto.vue';

 
export default {

  name: 'Carroucel',

  props: {
   title: String,
   SlidePerView: String,
   SpaceBetween: String,
   Url: String
  },

  data() {
      return {
        swiperOptions: {
          slidesPerView: this.SlidePerView,
          spaceBetween: this.SpaceBetween,
          loop: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false
          },
          pagination: {
            el: '.swiper-pagination',   
            dynamicBullets: true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
          // Some Swiper option/callback...
        }
      }
  },

  components: {
      Swiper,
      SwiperSlide,
      Produto
  },

  directives: {
    swiper: directive
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.swiper-container { width: 100%; height: 381px; }
.swiper-pagination  .swiper-pagination-bullet { border: #333 solid 1px; background-color: #333; }
.swiper-pagination .swiper-pagination-bullet-active { background-color: #333; }
.swiper-button-next, .swiper-button-prev { color: #333 !important; }

.titulo-carroucel{ font-weight: bold; font-size: 22px; }

</style>
