<template>
  
    <div class="container mt-4 mb-4 p-0">

      <div class="row">

        <div class="col-lg-3 col-xl-3 col-sm-12">

          <div class="card bg-marrom" style="height: 100%;">
            <img src="img/relogio.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-white">Religios</h5>
              <p class="card-text text-white">
                <small>A PARTIR DE</small> <br /> <span style="font-size: 28px;">R$ 99,90</span>
              </p>
              <a href="#" class="btn btn-outline-light">COMPRAR</a>
            </div>
          </div>

        </div>

        <div class="col-lg-9 col-xl-9 col-sm-12">

          <div class="row mb-4">

             <div class="col-lg-6 col-xl-6 col-sm-12">

              <div class="card bg-marrom">
                                
                <div class="card-body">

                  <div class="row">

                    <div class="col-lg-6 col-xl-6 col-sm-12">
                      <h5 class="card-title text-white">Religios</h5>
                      <p class="card-text text-white">
                        <small>A PARTIR DE</small> <br /> <span style="font-size: 28px;">R$ 99,90</span>
                      </p>
                      <a href="#" class="btn btn-outline-light">COMPRAR</a>
                    </div>

                    <div class="col-lg-6 col-xl-6 col-sm-12">
                      <img src="img/relogio.png" class="card-img-right" alt="...">
                    </div>

                  </div>
                  
                </div>

              </div>

             </div>

             <div class="col-lg-6 col-xl-6 col-sm-12">

              <div class="card bg-marrom">

                <div class="card-body">

                  <div class="row">

                    <div class="col-lg-6 col-xl-6 col-sm-12">

                      <h5 class="card-title text-white">Religios</h5>

                      <p class="card-text text-white">

                        <small>A PARTIR DE</small> <br /> <span style="font-size: 28px;">R$ 99,90</span>
                        
                      </p>

                      <a href="#" class="btn btn-outline-light">COMPRAR</a>

                    </div>

                    <div class="col-lg-6 col-xl-6 col-sm-12">

                      <img src="img/tennis.png" class="card-img-right" alt="...">

                    </div>

                  </div>

                </div>

              </div>

             </div>

          </div>

          <div class="row">

            <div class="col-lg-6 col-xl-6 col-sm-12">

              <div class="card bg-marrom">
               
                <div class="card-body">

                  <div class="row">

                    <div class="col-lg-6 col-xl-6 col-sm-12">
                      <h5 class="card-title text-white">Religios</h5>
                      <p class="card-text text-white">
                        <small>A PARTIR DE</small> <br /> <span style="font-size: 28px;">R$ 99,90</span>
                      </p>
                      <a href="#" class="btn btn-outline-light">COMPRAR</a>
                    </div>

                    <div class="col-lg-6 col-xl-6 col-sm-12">
                      <img src="img/tennis2.png" class="card-img-right" alt="...">
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="col-lg-6 col-xl-6 col-sm-12">

              <div class="card bg-marrom">
              
                <div class="card-body">

                  <div class="row">

                    <div class="col-lg-6 col-xl-6 col-sm-12">
                      <h5 class="card-title text-white">Religios</h5>
                      <p class="card-text text-white">
                        <small>A PARTIR DE</small> <br /> <span style="font-size: 28px;">R$ 99,90</span>
                      </p>
                      <a href="#" class="btn btn-outline-light">COMPRAR</a>
                    </div>

                    <div class="col-lg-6 col-xl-6 col-sm-12">
                      <img src="img/relogio2.png" class="card-img-right" alt="...">
                    </div>

                  </div>

                </div>

              </div>

            </div>

         </div>

        </div>

      </div>

    </div>
  
</template>

<script>
export default {
  name: 'Destaques',
  props: {
    msg: String
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
   
</style>
