<template>
  <header class="section-header">

      <nav class="navbar navbar-top navbar-expand-lg navbar-light bg-white">

        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse top-bar">

            <ul class="navbar-nav mr-auto">
              <li><a href="#" class="nav-link"> <i class="fa fa-truck" aria-hidden="true"></i> Frete gratis nas comprars acima de R$199</a></li>
              <li><a href="#" class="nav-link"> <i class="fa fa-tag" aria-hidden="true"></i> 10$ de desconto à vista no boleto</a></li>
              <li><a href="#" class="nav-link"> <i class="fa fa-credit-card-alt " aria-hidden="true"></i> Parcele em até 6x sem juros</a></li>
            </ul>

            <ul class="navbar-nav ">
              <li class="nav-item"><a href="#" class="nav-link" ><i class="fa fa-question-circle" aria-hidden="true"></i> Central de ajuda </a></li>
            </ul> <!-- navbar-nav.// -->

          </div> <!-- collapse.// -->

        </div>

      </nav>

      <!-- ========================= header ========================= -->
      <section class="header-main shadow-sm">

          <div class="container">

            <div class="row align-items-center">
                
              <div class="col-lg-4 col-xl-5 col-sm-8">

                <form action="#" class="search-wrap">

                  <div class="form-group">
                    <i class="fa fa-search"></i>
                    <input id="busca" type="search" class="form-control-search" name="busca" value="" placeholder="Buscar...">
                  </div>

                </form> 
                                
              </div> <!-- col.// -->

              <div class="col-lg-3 col-sm-4">

                  <div class="brand-wrap">
                      <img class="logo" src="img/logo.jpg">
                  </div> <!-- brand-wrap.// -->

              </div>               

              <div class="col-lg-5 col-xl-4 col-sm-12">

                    <div class="widgets-wrap float-right">

                        <div class="widget-header dropdown">

                          <a href="#" data-toggle="dropdown" data-offset="20,10">
                            <div class="icontext">
                              <div class="icon-wrap"><i class="icon-sm fa fa-phone"></i></div>
                                <div class="text-wrap">
                                  <div>0800 123 4567 <i class="fa fa-caret-down"></i> </div>
                                </div>
                            </div>
                          </a>
                            
                        </div>  <!-- widget-header .// -->

                        

                        <div class="widget-header dropdown">

                          <a href="#" data-toggle="dropdown" data-offset="20,10">
                              <div class="icontext">
                                  <div class="icon-wrap"><i class="icon-sm fa fa-user"></i></div>
                                  <div class="text-wrap">                                     
                                      <div>Entrar <i class="fa fa-caret-down"></i> </div>
                                  </div>
                              </div>
                          </a>

                          <div class="dropdown-menu dropdown-menu-right">

                              <form class="px-4 py-3">
                                  <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" class="form-control" placeholder="Email">
                                  </div>
                                  <div class="form-group">
                                    <label>Senha:</label>
                                    <input type="password" class="form-control" placeholder="Senha">
                                  </div>
                                  <button type="submit" class="btn btn-primary">Entrar</button>
                                  </form>
                                  <hr class="dropdown-divider">
                                  <a class="dropdown-item" href="#">Cadastre-se</a>
                                  <a class="dropdown-item" href="#">Esqueci minha senha?</a>
                          </div> <!--  dropdown-menu .// -->

                      </div>  <!-- widget-header .// -->

                        <a href="#" class="widget-header mr-3">

                          <div class="icontext">
                              <div class="icon-wrap"><i class="icon-sm fa fa-shopping-cart"></i></div>
                              <div class="text-wrap">
                                  <span class="small badge ">0</span>                                 
                              </div>
                          </div>

                      </a>
                    </div>

              </div> 

            </div> 

            <div class="row">

              <div class="col-lg-3 col-xl-3 col-sm-12">

                <div class="widget-header dropdown">

                  <a href="#" data-toggle="dropdown" data-offset="781, 5">

                      <div class="icontext">

                          <div class="icon-wrap"><i class="icon-sm fa fa-bars"></i></div>

                          <div class="text-wrap">                                     
                            <div>Todas as Categorias <i class="fa fa-caret-down"></i> </div>
                          </div>

                      </div>

                  </a>

                  <div class="dropdown-menu mega-menu-drop dropdown-menu-right">

                     <div class="row">

                        <div class="d-flex align-items-center col-lg-1 col-xl-1 col-sm-12 mr-5">

                          <ul class="nav menu">

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#">Calçados</a>
                            </li>
    
                            <li class="nav-item">
                              <a class="nav-link" href="#">Botas</a>
                            </li>
                                              
                            <li class="nav-item">
                              <a class="nav-link" href="#">Mocassim</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Oxford</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Peep Toe</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Sandálias</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Scapim</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Tenis</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#"><small>+ ver mais</small></a>
                            </li>
    
                          </ul>

                        </div>

                        <div class="d-flex align-items-center col-lg-1 col-xl-1 col-sm-12 ml-5 mr-5">
                          
                          <ul class="nav menu">

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#">Roupas</a>
                            </li>
    
                            <li class="nav-item">
                              <a class="nav-link" href="#">Blusas</a>
                            </li>
                                              
                            <li class="nav-item">
                              <a class="nav-link" href="#">Calças sociais</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Calça Jeans</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Camisas</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Jaquetas</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Casacos</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Moleton</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#"><small>+ ver mais</small></a>
                            </li>
    
                          </ul>

                        </div>

                        <div class="d-flex align-items-center col-lg-1 col-xl-1 col-sm-12 ml-5 mr-5">
                          
                          <ul class="nav menu">

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#">Acessórios</a>
                            </li>
    
                            <li class="nav-item">
                              <a class="nav-link" href="#">Bolsas</a>
                            </li>
                                              
                            <li class="nav-item">
                              <a class="nav-link" href="#">Carteira</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Cinto</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Calçados</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Lenços</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Mochilas</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Necessaire</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#"><small>+ ver mais</small></a>
                            </li>
    
                          </ul>

                        </div>

                        <div class="d-flex align-items-center col-lg-2 col-xl-2 col-sm-12 ml-5 mr-5">
                          
                          <ul class="nav menu">

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#">Beleza</a>
                            </li>
    
                            <li class="nav-item">
                              <a class="nav-link" href="#">Acessórios de cabelo</a>
                            </li>
                                              
                            <li class="nav-item">
                              <a class="nav-link" href="#">Esmalte</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Kit e presentes</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Maquiagem</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Perfumes</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Protetor solar</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#">Shampoo</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link titulo-menu active" href="#"><small>+ ver mais</small></a>
                            </li>
    
                          </ul>

                        </div>

                        <div class="col-lg-1 col-xl-1 col-sm-12 ml-5 mr-5">                          
                          <img src="https://assets.xtechcommerce.com/uploads/images/medium/0699ae823f2b92bfa5d69c36c3e301bd.jpg" height="345" />
                        </div>

                     </div>
                   
                  </div> <!--  dropdown-menu .// -->

                </div>

            </div>

            <div class="col-lg-9 col-xl-9 col-sm-12">

              <nav class="nav mega-menu">

                <li class="nav-item">
                  <a class="nav-link active" href="#">Feminino</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Masculino</a>
                </li>
                                  
                <li class="nav-item">
                  <a class="nav-link" href="#">Plus size</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Infantil</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Calçados</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Marcas</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Lançamentos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Promoções</a>
                </li>       

              </nav>
              
            </div>
        
        
        
            </div>

        </div> <!-- container.// -->

      </section> 
      <!-- ========================= header fim ========================= -->

    </header> 
</template>

<script>
export default {
  name: 'Header',
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .navbar{
        height: 33px ;
        background-color: #fff;
    }

    .top-bar a{
    font-size: 10px;
    font-weight: bold;
        text-transform: uppercase;
    }

    .header-main{
        background-color: #000;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .icontext {
        color: #fff;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; 
    }
    .icontext .icon-wrap {
    position: relative; 
    }

    .icontext .text-wrap {
    line-height: 1.2;
    padding-left: 10px; 
    }
    .icontext small, .icontext .title {
    display: block; 
    }

    .search-wrap input{
    width: 350px;
    height: 42px;
    border-radius: 0;
    }

    form i.fa {
        position: relative;
        top: 7px;
        left: 28px;
        color: #333;
        font-size: 22px;
        z-index: 9999;
    }

    .form-control-search {
        position: relative;
        top: 5px;
        padding-left: 30px !important;

    }

    .brand-wrap .logo, .navbar-brand .logo {
        margin-right: 7px;
        max-height: 42px;
        display: inline-block; 
    }

    .brand-wrap .logo-text, .navbar-brand .logo-text {
        margin: 0;
        display: inline-block;
        font-size: 22px;
        vertical-align: middle; 
    }

    .widget-header {
        margin-left: 7px;
        margin-right: 7px;
        display: inline-block;
        position: relative; 
    }

    .widget-header form {
        min-width: 280px; 
    }

    .widget-header .title {
        display: block; 
    }

    .widget-header .notify {
        position: absolute;
        top: -3px;
        right: -10px; 
    }

    .widget-header {
        color: #fff;
    }

    .widget-header {
        color: #fff;
    }

    .dropdown-item{
        color: #333;
    }

    .dropdown-item a{
        color: #333;
    }

    .text-wrap{
        font-size: 100%;
    }

    .nav-link {
        display: block;
        padding: .1rem 1rem;
    
    }

    .mega-menu-drop {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 60rem;
        padding: 0;
        margin: 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }

    .titulo-menu{
        font-weight: bold;
        text-transform: uppercase;
    }

    .mega-menu a{
        color: #fff;
    }

    .mega-menu a:hover{
        color: #ccc;
    }

    .menu a{
        min-width: 42rem;
        color: #333;
    }

    .menu a:hover{
        color: #ccc;
    }

    .texto-desconto-01{   
        text-transform: uppercase;
        font-size: 18px;
    }

    .texto-desconto-02{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
    }
</style>
