<template>
  <div class="container bg-white mt-4 mb-4 pt-4 pb-4">
        <div class="row d-flex align-items-center">
       
          <div class=" col-lg-3 col-xl-3 col-sm-12">
            <div class="texto-desconto-01">Ganhe <b> 5% de Desconto!</b></div>
            <span class="texto-desconto-02">Para usar na sua primeira compra.</span>
          </div>

          <div class="col-lg-3 col-xl-3 col-sm-12">            
            <div class="form-group">               
              <input type="email" class="form-control" placeholder="Digite seu Email">
            </div>            
          </div>
          
          <div class="col-lg-3 col-xl-3 col-sm-12">
            <div class="form-group">               
              <input type="email" class="form-control" placeholder="Digite seu nome">
            </div>
          </div>

          <div class="col-lg-3 col-xl-3 col-sm-12">
            <div class="form-group">               
              <button type="submit" class="btn btn-dark col-12">PEGAR DESCONTO!</button>
            </div>
          </div>

        </div>
    </div>
</template>

<script>
export default {
  name: 'Newsletter',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.texto-desconto-01{   
    text-transform: uppercase;
    font-size: 18px;
}

.texto-desconto-02{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}
</style>
