<template>
<div class="produto">

    <a href="#">
        
        <div class="produto-imagem">

        <img v-bind:src="imagem" alt="Produto 1143" title="Produto 1143" width="180" style="display: inline-block;">
        
        <div class="tag-discount">
            <span>+ {{porcentagemDesconto}}%</span>
        </div>

        </div>

        <div class="produto-nome text-center p-1" itemprop="name">
        <p>{{ titulo }}</p>
        </div>

        <div class="mt-3 mb-3">
          <b-form-rating v-model="rating"></b-form-rating>
        </div>
        

        <div class="produto-preco">

            <div class="product-price p-1">
            
                <div class="preco text-center">
                                    
                    <span content="5800.00"> {{ preco }} </span> &nbsp;
                    <span class="texto-riscado"> {{ precoDesconto}} </span>           

                </div>

            </div>

        </div>

    </a>

</div>

</template>

<script>
export default {
  name: 'Produto',
  props: {
    imagem: String,
    porcentagemDesconto: String,
    titulo: String,
    preco: String,
    precoDesconto: String,
    rating: String

  },
  data() {
      return {
        value: null
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

 
    .produto { background: #fff; border: 0; display: block; margin: 0; padding: 10px; }
    .produto .produto-imagem { position: relative; border-bottom: 0; font-size: 0; height: 200px; margin-bottom: 15px; text-align: center; }
    .produto .produto-nome { text-align: center; color: #3d4445; display: block; height: 40px; margin-bottom: 0px; overflow: hidden; font-family: "Roboto",sans-serif; font-size: 1.0rem; font-weight: bold; line-height: 1.3rem; }
    .produto .produto-preco { text-align: center; color: #000; display: block; position: relative; z-index: 1; font-family: "Roboto",sans-serif; font-size: 1.0rem; font-weight: 700; line-height: 1.8rem; }

    .texto-riscado { text-decoration: line-through; }

    .produto .tag-discount{ position: absolute; top: 10px; left: 10px; padding: 10px; background-color: rgba(0, 0, 0, 0.8); }
    .produto .tag-discount span{ color: #fff; font-size: 13px;}

</style>
