<template>
    <footer class="section-footer bg-white mt-5 pt-4">

      <div class="container">

        <div class="row">

          <div class="col-lg-9 col-xl-9 col-sm-12"> 

             <div class="row">

               <div class="col-lg-4 col-xl-4 col-sm-12">

                <h6>Institucional</h6>

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Quem Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Nossas Lojas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Termos de segurança</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Imprensa</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Mapa do site</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Certificados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Regulamentos</a>
                  </li>
                </ul>
                
                <br>

               </div>

               <div class="col-lg-4 col-xl-4 col-sm-12">
                <h6>Ajude e suporte</h6> 

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Entregas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Formas de pagamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Trocas e Devoluções</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Meus Pedidos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Como comprar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Prazo de Entrega</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Dúvidas</a>
                  </li>
                </ul>
                
                <br>

               </div>

               <div class="col-lg-4 col-xl-4 col-sm-12">

                <h6>Atendimento</h6> 
                
                <ul class="nav flex-column">

                  <li class="nav-item">
                    <a class="nav-link text-dark" href="tel:14 98765-4321">
                      <small>Fale Conosco</small>
                      <p><b>14 98765-4321</b></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">
                      <small>Horário de atendimento</small>
                      <p><small><b>Segunda à Sexta das 09 as 18 horas.</b></small></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">
                      <a href="#" class="btn btn-sm btn-outline-dark">Envie um email</a>
                    </a>
                  </li>
                  
                </ul>
                
                <br>

               </div>

               <div class="col-lg-12 col-xl-12 col-sm-12">
                <h6>Pagamentos</h6>

                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"><img src="images/pagamentos.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></a>
                  </li>                 
                </ul>

               </div>

             </div>

          </div>
          
          <div class="col-lg-3 col-xl-3 col-sm-12">

            <h6>Redes sociais</h6> 
            
            <div class="fb-page" data-href="https://www.facebook.com/agenciaeficazmarketing" 
                                 data-tabs="" 
                                 data-width="255" 
                                 data-height="" 
                                 data-small-header="false" 
                                 data-adapt-container-width="true" 
                                 data-hide-cover="false" 
                                 data-show-facepile="true">
                                 
              <blockquote cite="https://www.facebook.com/agenciaeficazmarketing" class="fb-xfbml-parse-ignore" >
                <a href="https://www.facebook.com/agenciaeficazmarketing">Eficaz Marketing</a>
              </blockquote>

            </div>

            <br />

            <ul class="nav mt-4 dark">
              <li><a href="#" class="nav-link text-secondary"> <i class="fa fa-facebook"></i> </a></li>              
              <li><a href="#" class="nav-link text-secondary"> <i class="fa fa-twitter"></i> </a></li>
              <li><a href="#" class="nav-link text-secondary"> <i class="fa fa-instagram"></i> </a></li>
              <li><a href="#" class="nav-link text-secondary"> <i class="fa fa-youtube-play"></i> </a></li>
            </ul>

            <br> <h6>Segurança</h6>
            
            <img src="img/seguranca.png" alt="" />

          </div>

        </div>


      </div><!-- //container -->
      
      <section class="copy mt-2">

        <div class="container mt-3 pb-3">
         
          <div class="row d-flex  align-items-center">
            <div class="col-lg-9 col-xl-9 col-sm-12">2020 @ Todos os Direitos à Eficaz Consultoria. </div>
            <div class="col-lg-3 col-xl-3 col-sm-12 d-flex  align-items-center text-sm-right"><span>Desenvolvido por </span> <img src="img/eficaz.png" alt=""> </div>
          </div>
           
        </div>

      </section>
      
    </footer>

</template>

<script>
export default {
  name: 'Rodape',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .copy{
    border-top: 1px solid #ccc;
  }
</style>
