<template>
  <div id="app">   
    <router-view />
  </div>
</template>

<style lang="scss">
body, html{
   background-color: #F5F5F5 !important; 
}

.bg-white{
    background-color: #fff !important; 
}

.bg-marrom{
    background-color: #78454E !important; 
}

a:link {
  text-decoration: none;
}
  
a:visited {
  text-decoration: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
